ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR}=="Avantes", ENV{ID_VENDOR_ID}=="1992", ENV{ID_MODEL_ID}=="0669", RUN+="/bin/python3 /bin/init.py"

ACTION=="remove", SUBSYSTEM=="usb", ENV{PRODUCT}=="1992/669/0", ENV{DEVTYPE}=="usb_device", RUN+="/bin/wall 'Removed Avantes spectrometer'"
